nav{
   background-color: rgba(17, 40, 78, 0.555);
   padding: 30px;
   text-align: center;
   display: flex;
}
ul{
    display: flex;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
li a {
   
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    
}